/*  your css code here. If applicable */
.main{
	background:gray;
	border-radius:10px ;
	height:100px;
	padding-top:40px;
	padding-left:40%;
	border: 5px solid black;
	
	
}
#green{
	background:green;
	border-radius:1000%;
	border:none;
	display:inline;
	padding:40px;
	text-align:center;
	padding-top:2px;
	margin-right:20px;
	
}
#yellow{
	background:yellow;
	border-radius:100%;
	border:none;
	display:inline;
	padding:40px;
	padding-top:2px;
	margin-top:5;
	margin-right:20px;
}
#red{
	background:red;
	border-radius:1000%;
	border:none;
	display:inline;
	padding:40px;
	padding-top:2px;
	
}